<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应模板文件，namespace对应javaMapper文件-->
<mapper namespace="com.example.sport.mapper.ManagerMapper">
    <!--对类文件，id下方引用，type对应entity-->
    <resultMap id="manager" type="com.example.sport.domain.entity.Manager">
        <!--实体类与数据库字段对应-->
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="c_name" property="cName"/>
        <result column="gender" property="gender"/>
        <result column="name" property="name"/>
        <result column="age"  property="age"/>
        <result column="phone" property="phone"/>
        <result column="headImg" property="headImg"/>
        <result column="authority" property="authority"/>
        <result column="wage" property="wage"/>
        <result column="hobby" property="hobby"/>
    </resultMap>


</mapper>