<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应模板文件，namespace对应javaMapper文件-->
<mapper namespace="com.example.sport.mapper.NoticeMapper">
    <!--对类文件，id下方引用，type对应entity-->
    <resultMap id="notice" type="com.example.sport.domain.entity.Notice">
        <!--实体类与数据库字段对应-->
        <id column="id" property="id"/>
        <result column="n_title" property="nTitle"/>
        <result column="date" property="date"/>
        <result column="name" property="name"/>
        <result column="m_describe" property="describe"/>
    </resultMap>

    <sql id="noticeVo">
        select n.id,
               n.n_title,
               n.date,
               n.name,
               n.m_describe
        from notice n
    </sql>

    <insert id="addOne">
        insert into notice( n_title
                          , date
                          , name
                          , m_describe)
            value (#{nTitle}, #{date}, #{name}, #{describe})
    </insert>
    <delete id="deleteOne">
        delete from notice n
        <where>
            n.id = #{id}
        </where>
    </delete>
    <select id="getNotices" resultType="com.example.sport.domain.entity.Notice" resultMap="notice">
        <include refid="noticeVo"></include>
        <where>
            <if test="id != null">
                and n.id = #{id}
            </if>
            <if test="nTitle != null and nTitle != ''">
                and n.n_Title = #{nTitle}
            </if>
            <if test="date != null">
                and n.date = #{date}
            </if>
            <if test="name != null and name != ''">
                and n.name = #{name}
            </if>
            <if test="describe != null and describe != ''">
                and n.m_describe = #{describe}
            </if>
        </where>
    </select>
    <select id="getNotice" resultType="com.example.sport.domain.entity.Notice" resultMap="notice">
        <include refid="noticeVo"></include>
        <where>
            n.id = #{id}
        </where>
    </select>
</mapper>